<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

 <div class="container-fluid">
   <div class="row">
     <%# 穴埋め箇所1 たくさんのデータの中から一つずつ取り出してループするコード  %>
     <div class="col-md-3">
       <img src="http://lit-screenshot-api.herokuapp.com/?url=<%#= 穴埋め箇所2 URLを取り出す %>" alt="">
       <p><a href="<%#= 穴埋め箇所3 URLを取り出す %>"><%#= 穴埋め箇所4 タイトルを取り出す %></a></p>
     </div>
     <%# 穴埋め箇所5 ループ一回分おわり%>
   </div>
 </div>

</body>
</html>
